<main class="container">
  <div class="row text-center justify-content-center">
    <div class="col">
      <h1 class="display-4">Forms</h1>
    </div>
  </div>
  <div>
    <% @forms.each do |form| %>
      <p>Title: <%= form.title %></p>
      <p>No of Fields: <%= form.fields.count %></p>
      <%= button_to 'Answer', answer_form_path(form.id), method: :get %>
      <%= button_to 'Show', form_path(form.id), method: :get %>
      <%= button_to 'Edit', edit_form_path(form.id), method: :get %>
      <%= button_to 'Delete', form_path(form.id), method: :delete %>
    <% end %>
  </div>
  <hr>
  <div>
    <%= button_to 'New', new_form_path, method: :get %>
  </div>
</main>
